[Unit]
Description=Retro AIM Server

[Service]
Type=simple
User=ras
Group=ras
WorkingDirectory=/opt/ras
StateDirectory=ras
Environment="API_LISTENER=127.0.0.1:8080"
Environment="OSCAR_ADVERTISED_LISTENERS_PLAIN=EXTERNAL://127.0.0.1:5190"
Environment="OSCAR_LISTENERS=EXTERNAL://0.0.0.0:5190"
Environment="TOC_LISTENERS=0.0.0.0:9898"
Environment="DB_PATH=/var/lib/oscar.sqlite"
Environment="DISABLE_AUTH=true"
Environment="LOG_LEVEL=info"
ExecStart=/opt/ras/retro_aim_server
Restart=on-failure

[Install]
WantedBy=multi-user.target
